[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ablive/Desktop/Guide]
row=5
col=0

[9BB1-0E6B]
row=1
col=0

[5ff62490-3a01-45a3-a1dc-ef754609909e]
row=0
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/ablive]
row=4
col=0

