[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ablive/Desktop/Guide]
row=5
col=0

[74872b5a-d943-49da-afcb-739a3d561371]
row=0
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/ablive]
row=4
col=0

